# General
.DS_Store
.idea/
.vscode/
*.log
.env
.env.*
node_modules/
dist/
coverage/

# Go
/bin/
/obj/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
vendor/

# infrastructure/kubernetes / Docker local
infrastructure/kubernetes/secrets.yaml
infrastructure/kubernetes/media-secrets.yaml
infrastructure/kubernetes/notification-secrets.yaml
infrastructure/kubernetes/realtime-secrets.yaml
infrastructure/kubernetes/search-secrets.yaml

frontend/

system_artichiture.md
notes.txt